<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682172366755-8pnv5gd4543qlhcihjf8o7momjnteq1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682172366755-8pnv5gd4543qlhcihjf8o7momjnteq1j</string>
	<key>API_KEY</key>
	<string>AIzaSyCncoSorcbmAdR2nWa_AnewJegfA9zvbM8</string>
	<key>GCM_SENDER_ID</key>
	<string>682172366755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moxy</string>
	<key>PROJECT_ID</key>
	<string>moxy-144f2</string>
	<key>STORAGE_BUCKET</key>
	<string>moxy-144f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682172366755:ios:becc29a1c951a0a18d6416</string>
</dict>
</plist>